@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    transition: all .3s ease-out;
}

html {
    font-size: 10px;
}

body {
    background: $n-light;
    font-family: "Roboto";
    color: $n-medium;
    margin-top: 90px;

    @media (min-width: $screen-sm) {
        height: 68px;
    }
}

h1, h2, h3, h4 {
    color: $n-dark;
    font-weight: bold;
    margin: 20px 0;
    line-height: 5rem;
    
    @media (min-width: $screen-sm) {
        line-height: 7rem;
    }
}

h1 {
    font-size: 4rem;
    
    @media (min-width: $screen-sm) {
        font-size: 6rem;
    }
}

h2 {
    font-size: 3rem;
    
    @media (min-width: $screen-sm) {
        font-size: 5rem;
    }
}

h3 {
    font-size: 2.6rem;
    
    @media (min-width: $screen-md) {
        font-size: 4rem;
    }
}

h4 {
    font-size: 2.4rem;
}

p {
    font-size: 1.6rem;
    margin: 5px 0;
    line-height: 2.5rem;
}

a {
    color: $p-default;
    text-decoration: none;
    
    &:hover {
        color: $p-hover;
    }
}

img {
    width: 100%;
}


// buttons

.btn {
    font-weight: 500;
    font-size: 1.7rem;
    padding: 15px 37px;
    color: $n-medium;
    display: inline-block;
    text-align: center;

    &--primary {
        background-color: $p-default;
        color: white;
        
        &:hover {
            background-color: $p-hover;
            color: white;
        }
    }
}


// container

.container {
    @extend %container;
}