@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html {
    font-size: 10px;
}

body {
    background: $n-light;
    font-family: "Roboto";
    font-size: 1.7rem;
    color: $n-medium;
    margin-top: clac($header-desktop-height + 50px);
    
    @media (min-width: $screen-sm) {
        margin-top: calc($header-mobile-height + 50px);
    }
}

section {
    margin: 50px 0;
    
    @media (min-width: $screen-md) {
        margin: 100px 0;
    }
}

h1, h2, h3, h4 {
    color: $n-dark;
    font-weight: bold;
    margin: 20px 0;
}

h1 {
    font-size: 4rem;
    line-height: 5rem;
    
    @media (min-width: $screen-md) {
        font-size: 6rem;
        line-height: 7rem;
    }
}

h2 {
    font-size: 3rem;
    line-height: 4rem;
    
    @media (min-width: $screen-md) {
        font-size: 5rem;
        line-height: 6rem;
    }
}

h3 {
    font-size: 2.5rem;
    line-height: 3rem;
    
    @media (min-width: $screen-md) {
        font-size: 4rem;
        line-height: 5rem;
    }
}

h4 {
    font-size: 2.2rem;
    line-height: 3rem;
}

p {
    font-size: 1.6rem;
    margin: 5px 0;
    line-height: 2.5rem;
}

a {
    color: $p-default;
    text-decoration: none;
    transition: all .3s ease-out;
    
    &:hover {
        color: $p-hover;
        transition: all .3s ease-out;
    }
}

img {
    width: 100%;
}

button {
    border: none;

    &:hover {
        cursor: pointer;
    }
}

input,
textarea {
    font-family: "Roboto";
    font-size: 1.7rem;
    width: 100%;
    border: none;
}



// buttons

.btn {
    font-weight: 500;
    font-size: 1.7rem;
    padding: 15px 37px;
    color: $n-medium;
    display: inline-block;
    text-align: center;
    transition: all .3s ease-out;

    &--primary {
        background-color: $p-default;
        color: white;
        transition: all .3s ease-out;
        
        &:hover {
            background-color: $p-hover;
            color: white;
            transition: all .3s ease-out;
        }
    }
}


// container

.container {
    @extend %container;
}


// helpers

.br-text {
    @media (min-width: $screen-md) {
        display: block;
    }
}

.hide {
    display: none;
}

.appear {
	animation: appear-element 2s;
}


// alerts

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
