// colors
$p-default: #072AC8;
$p-hover: #A2D6F9;
$p-tapped: #D1EDFF;

$accent: #43D2FF;

$n-dark: #292E47;
$n-medium: #6B708D;
$n-light: #F2F4FC;
$n-light-blue: #ECF7FF;

$secondary: #FFC600;


// device widths
$screen-xs-max: 575px;
$screen-sm: 576px;
$screen-sm-max: 767px;
$screen-md: 768px;
$screen-md-max: 991px;
$screen-lg: 992px;
$screen-lg-max: 1199px;
$screen-xl: 1200px;
