.navbar {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    transition: all .3s ease-out;
    
    &__container {
        @extend %container;
        height: $header-mobile-height;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        @media (min-width: $screen-sm) {
            height: $header-desktop-height;
        }
        
        > * {
            
            @media (min-width: $screen-sm) {
                width: 31%;
            }
        }
    }

    &.scrolled {
        background: #f2f4fc;
        box-shadow: 0 0 7px -3px black;
        transition: all .3s ease-out;
    }

    &__logo {
        order: 1;

        img {
            max-width: 62px;
        }
    }
    
    &__menu {
        order: 3;
        width: 100%;
        margin-top: 10px;
        
        @media (min-width: $screen-sm) {
            order: 2;
            width: 31%;
            max-width: 300px;
            margin-top: 0;
        }

        ul {
            display: flex;
            justify-content: space-around;
        }

        li {
            padding: 0 10px;
        }

        a {
            color: $n-medium;
            transition: all .3s ease-out;
            
            &.active {
                color: $p-default;
                transition: all .3s ease-out;
            }
        }
    }
    
    &__contact {
        order: 2;

        @media (min-width: $screen-sm) {
            text-align: right;
            order: 3;
            max-width: 300px;
        }
        
        a {
            padding: 10px;
            
            @media (min-width: $screen-sm) {
                padding: 15px 37px;
            }
        }
    }

    a {
        transition: all .3s ease-out;
        
        &:hover {
            opacity: .6;
            transition: all .3s ease-out;
        }
    }
}